body {
    background: url('http://papers.co/wallpaper/papers.co-vu39-line-minimal-blue-pattern-36-3840x2400-4k-wallpaper.jpg')center/cover;
}
body, h1, h2, h3, h4, h5, h6, a, p {
    font-family: 'Questrial', sans-serif;
}
#form {
    width: 100%;
    padding: 30px;
    margin-top: 40px;
    border-radius: 25px;
}
#recuperar {
    width: 100%;
    padding: 30px;
    margin-top: 40px;
    border-radius: 25px;
}